# Database Configuration
POSTGRES_DB=cinofilo
POSTGRES_USER=cinofilo
POSTGRES_PASSWORD=cinofilo

# Backend Configuration
BACKEND_PORT=3000
NODE_ENV=development

# Frontend Configuration
FRONTEND_PORT=3001
REACT_APP_API_URL=http://localhost:3000
